
<!-- ######## Risabh Mishra ########## -->


{% extends 'base.html' %}
{% block title %}Battery{% endblock title %}
{% block battery_active %}active{% endblock battery_active %}
{% block body %}
    {% if plugged %}
        <h2 id="h1">Power Plugged In</h2>
    {% else %}
        <h2 id="h2" >Power Not Plugged In</h2>
    {% endif %}
  </br>
    <h1>Battery Percentage: {{ percent }} %</h1>

    <h1>Battery Seconds Left: {{ secs }}</h1>

    <script>

$.ajax({
    url: '127.0.0.1:8000/battery',
    type: 'get',setInterval:1, // This is the default though, you don't actually need to always mention it
    success: function(data) {
        alert(data.toString());
    },
    failure: function(data) {
        alert('Got an error dude');
    }
});
    </script>

{% endblock body %}
